:root {
    /** Base colors */
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;

    /** Theme primary colors */
    --clr-primary-a0: #3eddc6;
    --clr-primary-a10: #60e1cc;
    --clr-primary-a20: #7ae5d2;

    /** Theme surface colors */
    --clr-surface-a0: #121212;
    --clr-surface-a10: #282828;
    --clr-surface-a20: #3f3f3f;

    /** Theme tonal surface colors */
    --clr-surface-tonal-a0: #1a2321;
    --clr-surface-tonal-a10: #2f3836;
    --clr-surface-tonal-a20: #464d4c;

    /** Success colors */
    --clr-success-a0: #22946e;
    --clr-success-a10: #47d5a6;
    --clr-success-a20: #9ae8ce;

    /** Warning colors */
    --clr-warning-a0: #a87a2a;
    --clr-warning-a10: #d7ac61;
    --clr-warning-a20: #ecd7b2;

    /** Danger colors */
    --clr-danger-a0: #9c2121;
    --clr-danger-a10: #d94a4a;
    --clr-danger-a20: #eb9e9e;

    /** Info colors */
    --clr-info-a0: #21498a;
    --clr-info-a10: #4077d1;
    --clr-info-a20: #92b2e5;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-dark-a0);
    color: var(--clr-light-a0);
    min-height: 100vh;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.grid-container {
    display: grid;
    grid-template-columns: auto 1200px auto;
    grid-template-rows: 200px 200px auto;
    gap: 20px;
}

.header-container {
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
}

.input-container {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    align-items: center;
    background-color: var(--clr-surface-a10);
    padding: 24px;
    column-gap: 48px;
    border-radius: 8px;
}

.title-container {
    grid-column: 1;
    grid-row: 1 ;
}

.author-container {
    grid-column: 2;
    grid-row: 1 ;
}

.status-container {
    grid-column: 3;
    grid-row: 1 ;
}

.input-container p {
    font-weight: bold;
    text-decoration: underline;
}

.error-msg {
    grid-row: 2;
}

.input-container input {
    flex: 1;
    height: 2rem;
    background-color: var(--clr-surface-a20);
    color: var(--clr-light-a0);
    border: none;
    border-radius: 8px;
    width: 300px;
}

.input-container select {
    flex: 1;
    height: 2rem;
    background-color: var(--clr-surface-a20);
    color: var(--clr-light-a0);
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 34px;
}

.submit-btn {
    background-color: var(--clr-success-a0);
    border: none;
    color: var(--clr-light-a0);
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.5s ease;
    margin-right: 25px;
    height: 3rem;
    grid-column: 4;
}

.submit-btn:hover {
    background-color: var(--clr-success-a10);
    transform: scale(1.05);
}

.error-msg {
    color: var(--clr-danger-a0);
    min-height: 36px;

}

.table-container {
    grid-column: 2;
    display: flex;
    justify-content: center;
    text-align: left;
    background-color: var(--clr-surface-a10);
    padding: 24px;
    column-gap: 48px;
    border-radius: 8px;
    
}

.table-container caption{
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 16px;
    
}

.table-container table {
    width: 100%;
    table-layout: fixed;
}

th:nth-child(1) {
    width: 50%;
}

th:nth-child(2) {
    width: 50%;
}

th:nth-child(3) {
    width: 100px;
}

th:nth-child(4) {
    width: 100px;
}

.table-container button {
    background-color: var(--clr-danger-a0);
    border: none;
    color: var(--clr-light-a0);
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.5s ease;
    margin-right: 25px;
}

.table-container button:hover {
    background-color: var(--clr-danger-a10);
}

th, td {
    border-bottom: 1px solid black;
    padding: 4px;
}